<div class="row">
	<div class="large-12 columns text-center">
		<h2>Feedback us!</h2>
	</div>
</div>

<hr class="dashed">

<div class="row">
	<div class="large-12 columns text-center">
		<%= form_for @feedback, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
	  <%= f.text_field :name, placeholder: "Nombre", autofocus: true %>
	  <%= f.email_field :email, placeholder: "foo@bar.com" %>
	  <%= f.text_area :content, size: "60x12", placeholder: "Retroalimentación" %>
	  <%= f.submit "Envíar", class: "button success"%>
		<% end %>
	</div>
</div>